name: Security Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  # --- JOB 1: Build / Testes ---
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar testes
        run: python -m unittest

  # --- JOB 2: SAST (CodeQL) ---
  sast:
    name: Análise Estática (SAST)
    runs-on: ubuntu-latest
    needs: build  # espera o build finalizar
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v4

      - name: Inicializar CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: 'python'

      - name: Executar análise CodeQL
        uses: github/codeql-action/analyze@v3

  # --- JOB 3: DAST (OWASP ZAP) ---
  dast:
    name: Análise Dinâmica (DAST)
    runs-on: ubuntu-latest
    needs: sast  # espera o SAST finalizar
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v4

      - name: Build da imagem Docker
        run: docker build -t flask-app .

      - name: Subir aplicação
        run: |
          docker run -d -p 8080:8080 --name flask-test flask-app
          sleep 20

      - name: Executar DAST com OWASP ZAP
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:8080"
          cmd_options: "-a"

      - name: Encerrar container
        run: docker stop flask-test && docker rm flask-test
